<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dt191g_moment1._1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="header-container border-bottom border-white border-2 vw-100">
        <!-- Logotyp -->
        <a class="navbar-brand mb-0" asp-area="" asp-page="/Index">
            <img id="logotyp" src="images/standardLogo.svg" alt="Logotyp">
        </a>

        <!-- Datum -->
        <div class="border border-white p-3">
            @{
                var date = DateOnly.FromDateTime(DateTime.Now);
            }
            <p class="mb-0">Dagens datum är: @date</p>
        </div>
    </div>


    <div class="d-flex">
        <!-- Header (vänster navigering) -->
        <header class="header m-3 border border-white border-2">
            <nav class="navbar vh-100">
                <div class="container-fluid d-flex flex-column align-items-start py-3">
                    <!-- Länklista -->
                    
                        <ul class="navbar-nav flex-column w-100">
                            <a class="nav-item " asp-area="" asp-page="/Index">
                                <li class="nav-link text-white">
                                    Startsida
                                </li>
                            </a>
                            <a class="nav-item " asp-area="" asp-page="/Razor">
                                <li class="nav-link text-white">
                                    Razor
                                </li>
                            </a>
                            <a class="nav-item " asp-area="" asp-page="/About">
                                <li class="nav-link text-white">
                                    Om sida
                                </li>
                            </a>
                        </ul>
                    
                </div>
            </nav>
        </header>

        <!-- Main innehåll -->
        <main class="main flex-grow-1 p-3 m-3 border border-white border-2">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </main>
    </div>
    <footer class="border border-white border-2 footer text-muted m-3 p-3">
        <div class="container text-center">
            <p> &copy; Av Melvin Bubini - Kontakta mig via epost: <a href="mailto:mebu2300@student.miun.se">mebu2300@student.miun.se</a>
            </p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
