/* För layouten */
.d-flex {
  display: flex;
  height: 100vh;
  /* Fyll hela höjden av skärmen */
}

/* For screens under 600px */
@media screen and (max-width: 600px) {

  .header,
  .main {
    width: 50%;
  }  

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .main, .header, .footer {
    margin: 0 !important;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.75rem;
  }
}