@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sida";
}

<h1>Om mig</h1>

<p>Mitt namn är Melvin och jag är 21 år gammal. Jag bor i Stockholm med min familj som består av mina två bröder och
    mina föräldrar. På min fritid gillar jag att träna kampsport och gymma. Det ger mig både fysisk träning och mental
    avkoppling. Det är väldigt skönt att få komma bort ibland och bara tänka på träning. Jag tycker också om att umgås
    med mina kompisar, då vi alltid har roligt och kan koppla av tillsammans.</p>